# dependencies
node_modules
package.json
package-lock.json
pnpm-lock.yaml

# next.js
**/next-env.d.ts

# outputs
packages/**/dist
.turbo
.next
.vercel
.markdownlayer

# static files
apps/**/{public,static,out}
examples/**/{public,static,out}

# special files
.vscode/settings.json
.github/**
!.github/dependabot.yml
.changeset/*.md
README.md
