# dependencies
node_modules
package.json
package-lock.json
pnpm-lock.yaml

# next.js
**/next-env.d.ts

# outputs
dist
out
.turbo
.next
.vercel
.markdownlayer

# static files
apps/**/{public,static}
examples/**/{public,static}

# special files
.vscode/settings.json
.github/**
!.github/dependabot.yml
.changeset/*.md
README.md
